<% provide(:title, "About Us") %>

<div class="container">
  <h1> What we're all about </h1>
  <p>
    We are a group of people in Romania who want the community to be able to eat, socialize, and just have a good time without having to worry about doing it in the smoke.  This site is a hub for fellow non-smokers to get together and share places they know about that have non-smoking areas.
  </p>

  <p>
    We'd love to hear any comments or feedback you might have.
  </p>

  <p>
  <h3> <%= link_to "Contact us!", contact_path %> </h3>
  </p>
</div>
