<li class="<%= "active" if venues_page? %>">
  <%= link_to "Home", root_path, 'data-no-turbolink' => true %>
</li>


<li class="<%= "active" if new_venue_page? %>">
  <%= link_to new_venue_path, 'data-no-turbolink' => true do %>
    <span class="glyphicon glyphicon-plus"></span> Add a venue
  <% end %>
</li>
