<% provide(:title, "All Venues") %>

<div class="col-md-3 max-height">
  <h1>No smoking</h1>
  <p>The National Institute For Cancer Prevention At Parties</p>

  <div class="scrollable">
    <ul class="list-group venues">
      <% @venues.each do |venue| %>
        <li class="list-group-item">
        <h4>
          <%= link_to venue.name, venue, 'data-no-turbolink' => true %>
        </h4>
        <h6>
          <%= link_to "#{venue.link}", "http://#{venue.link}", target: "_blank" %>
          <small> - <%= venue.readable_venue_type %></small>
        </h6>
        <%# link_to 'Edit', edit_venue_path(venue), id: "edit_#{venue.id}" %>
        <%# link_to 'Destroy', venue, method: :delete, data: { confirm: 'Are you sure?' }, id: "destroy_#{venue.id}" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<div id="map-canvas"></div>
