<% provide(:title, "New Venue") %>

<div class="container">
  <h1>Add a Place <small>Click the map to set the location</small>
  </h1>

  <%= text_field_tag "map_search" %>
  <%= render 'mailer_form' %>
</div>
