html, body, #map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px
}

#map-overlay {
    position: fixed;
    top:10px;
    left:10px;
    background-color: #ffffff;
    width:200px;
    height:600px;
}
