html, body, #map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px
}

/* #map-overlay { */
/*     position: fixed; */
/*     top:10px; */
/*     left:10px; */
/*     background-color: #ffffff; */
/*     width:300px; */
/*     height:95%; */
/* } */
/*  */
/* .overlay-body { */
/*     /* Margin bottom by footer height */ */
/*     height: 100%; */
/*     margin-bottom: 40px; */
/*     padding:10px; */
/* } */

.scrollable {
    overflow: hidden;
    overflow-y: scroll;
    max-height: 84%;
}
