/* This file is for CSS that will apply to all pages on the site */

.max-height {
  height: 100%;
}

body {
  padding-top: 60px;
  padding-right: 10px;
  padding-bottom: 50px;
}

.footer-text {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.navbar-brand {
  padding: 5px 5px;
}

.glyphicon {
  top: -1px;
}
