/* This file is for CSS that will apply to all pages on the site */

.max-height {
  height: 100%;
}

body {
  padding-top: 70px;
  padding-bottom: 70px;
}

footer {
  position: absolute;
  bottom: 0;
}
